<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employe Directory</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</head>
<body>
<div class="container"></div>
<h3>Employee Directory</h3>

<a th:href="@{employees/showFormForAdd}" class=""btn btn-primary btn-sm mb-3>Add Employee</a>
    <table border="1" class="table table-boardered table-striped">
      <thead class="thead-dark">
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      </thead>
      <tbody>
        <tr th:each="tempEmployee:${employees}">
          <td th:text="${tempEmployee.firstName}"/>
          <td th:text="${tempEmployee.lastName}"/>
          <td th:text="${tempEmployee.email}"/>
        </tr>

      </tbody>
    </table>

</body>
</html>